.settings-container {
    margin-left: 100px;
    margin-top: 120px;
    width: 300px;
    background-color: #10001f;
    padding: 20px;
    border-radius: 10px;
    font-family: "Nunito", sans-serif;
    color: white;
}
.settings-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #c7b2df;
}
.settings-label {
    font-size: 16px;
    font-weight: 700;
    color: #c7b2df;
}
.logout-btn {
    width: 100%;
    padding: 12px;
    background-color: #c0392b;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
}
.logout -btn:hover {
    background-color: #a5281e;
}